
  .border-black{
    border-style: solid;
    border-width: 1px;
    border-color: black !important;
  }

  .border-black-right{
    border : 0px;
    border-bottom:0px !important;
    border-top:0px !important;    
    border-left: 0px !important;    
    border-right: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: black !important;
  }

  .border-black-bottom{
    border : 0px;
    border-left: 0px !important;        
    border-right: 0px !important;    
    border-bottom:1px;
    border-style: solid;
    border-width: 1px;
    border-color: black !important;
  }

  .pad-zero{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .margin-bottom{
    margin-bottom: 0px !important;
    height: 50px;
  }

  .pad-bottom{
    padding-bottom: 10px;
  }

  .input_class{
    border: 0px !important;
    width: 95% !important;
  }  


.myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 60px;
  display: none;
  z-index: 5;
}

.myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

.myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.text_center{
  text-align: center;
}

.text_red{
  color: red;
}

